<link src='app.js' type='text/javascript'></link>
<style>
    body{
        background-color: red;
    }
    
    h1{
        text-align: center;
    }
    .square{
        height: 50px;
        width: 50px;
        background-color: white;
        float: left;
        margin: 10px;
    }
    .container{
        width: 250px;
        margin: 0 auto;
    }
</style>
<h1>Welcome to the Great RGB() Color Guessing Game</h1>

<p>Hellow world</p>
<div>
    
</div>

<div class='container'>
<div class='square' id='one'></div>
<div class='square'></div>
<div class='square'></div>
<div class='square'></div>
<div class='square'></div>
<div class='square'></div>
</div>
